@import './../../../../styles/abstract/variables';

$input-padding-top: 0.4em;
$input-padding-right: 0.5em;
$top-padding: calc($input-padding-top + 1px);
$right-padding: calc($input-padding-right + 1px);

.form_password-change {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: 400px;
  max-width: 100vw;
  min-height: 250px;

  .form-element {
    width: 100%;
  }

  .col-1 {
    width: 150px;
    font-size: 0.9em;
    padding: $top-padding 0;
    color: $gray-color-3;
  }

  .col-2 {
    width: 250px;
  }

  .form-buttons {
    display: flex;
    gap: 15px;
  }

  .change-password-btn {
    $padding: calc($btn-padding-top - 1px);
    padding: $padding 0;
  }

  .form-row,
  .submit-btn,
  .reset-btn {
    display: none;
  }

  &.edit-mode {
    .form-row {
      display: flex;
    }

    .submit-btn,
    .reset-btn {
      display: initial;
    }

    .change-password-btn {
      display: none;
    }
  }

  input:not([type='button'], [type='submit'], [type='reset']),
  select {
    padding: $input-padding-top $input-padding-right;
  }
}

@media screen and (max-width: 439px) {
  .form_password-change {
    min-width: auto;
    align-items: center;

    .form-row {
      flex-direction: column;
      gap: 0px;
    }

    .col-1 {
      padding: 0 $right-padding;

      label::after {
        content: ':';
      }
    }

    .form-buttons {
      justify-content: center;
    }

    h4 {
      text-align: center;
    }

    .info-block {
      max-width: 80vw;
    }
  }
}
